<div class="users-container">
  <h2>Liste des utilisateurs</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <table *ngIf="users.length > 0">
    <thead>
      <tr>
        <th>Login</th>
        <th>Mot de passe</th>
        <th>Nombre de comptes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.login }}</td>
        <td>{{ u.password }}</td>
        <td>{{ u.comptes?.length || 0 }}</td>
      </tr>
    </tbody>
  </table>
</div>
