
.login-container {
  position: relative;
  padding: 20px;
  max-width: 400px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;

  height:500px;

  background-size: cover;
  background-position: center;


}
.form-header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-container img{
  width: 100%;
}


label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

/*button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #03A678;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}*/
p-button{
  display: flex;
  margin-top: 30px;
  justify-self: center;

}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
.forgot-password {
  margin-top: 30px;

  font-size: 14px;
  color: #043f2b;
  cursor: pointer;
}



