

.login-container {
  position: relative;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  height:500px;
  background-image: url('/bna.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

/*button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #03A678;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}*/
p-button{
  display: flex;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

