<form class="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-header">
    <img src="bna.png" alt="bna logo">
  </div>

  <label for="login">LogIn</label>
  <input id="login" type="text" formControlName="login" placeholder="ex: 12345678" />

  <div class="error" *ngIf="login?.touched && login?.invalid">
    <div *ngIf="login?.errors?.['required']">Le login est requis</div>
    <div *ngIf="login?.errors?.['pattern']">Le login doit contenir exactement 8 chiffres</div>
  </div>

  <label for="password">Mot de passe</label>
  <input id="password" type="password" formControlName="password" />

  <div class="error" *ngIf="password?.touched && password?.invalid">
    <div *ngIf="password?.errors?.['required']">Le mot de passe est requis</div>
    <div *ngIf="password?.errors?.['minlength']">Il faut entrer au moins 8 caractères</div>
  </div>

  <p-button
    type="submit"
    label="Connexion"
    [raised]="true"
    [disabled]="loginForm.invalid"
    (onClick)="onSubmit()">
  </p-button>

  <div class="forgot-password">
    <a routerLink="/forgot-password">Mot de passe oublié ?</a>
  </div>
</form>
