<form [formGroup]="mondatForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Compte émetteur:</label>
    <input type="text" formControlName="numCompte" />
  </div>

  <div>
    <label>Compte destinataire:</label>
    <input type="text" formControlName="compteDestinataire" />
  </div>

  <div>
    <label>Montant:</label>
    <input type="number" formControlName="montant" />
  </div>

  <button type="submit" [disabled]="!mondatForm.valid">Envoyer</button>
</form>

<div *ngIf="resultat">
  <p>Mondat envoyé avec succès !</p>
  <p>Code de retrait: {{ resultat.codeRetrait }}</p>
</div>

<div *ngIf="errorMsg">
  <p style="color:red">{{ errorMsg }}</p>
</div>
